<admin-navbar/>


<div class="container">
    <div class="w-full relative min-h-[100vh] p-10 overflow-hidden flex justify-center items-center z-1">
        <div class="form">
            <div class="contact-info">
                <img src="../../../assets/img/card_do_homem.png" alt="">
            </div>
            <div class="contact-info-form p-4 text-white space-y-10 relative bg-black">

                <h1>Novo Gerente</h1>

                <form action="" #formGerente="ngForm" class="space-y-2 text-white">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control bg-transparent text-white before:bg-[#ffffff]" [(ngModel)]="gerente.nome" #nome="ngModel" id="nome" name="nome" required>
                        <div class="alert alert-danger" *ngIf="nome.errors && (nome.dirty || nome.touched)">
                            <div *ngIf="!nome.errors?.['required']">Digite o nome do gerente.</div>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="cpf">CPF:</label>
                        <input type="text" class="form-control bg-transparent text-white" [(ngModel)]="gerente.cpf" #cpf="ngModel" id="cpf" name="cpf" required>
                        <div class="alert alert-danger" *ngIf="cpf.errors && (cpf.dirty || cpf.touched)">
                            <div *ngIf="!cpf.errors?.['required']">Digite o cpf do gerente.</div>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control bg-transparent text-white" [(ngModel)]="gerente.email" #email="ngModel" id="email" name="email" required>
                        <div class="alert alert-danger" *ngIf="email.errors && (email.dirty || email.touched)">
                            <div *ngIf="!email.errors?.['required']">Digite o email do gerente.</div>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="telefone">Telefone:</label>
                        <input type="text" class="form-control bg-transparent text-white" id="telefone" [(ngModel)]="gerente.telefone" #telefone="ngModel" name="telefone" required>
                        <div class="alert alert-danger" *ngIf="telefone.errors && (telefone.dirty || telefone.touched)">
                            <div *ngIf="!telefone.errors?.['required']">Digite o telefone do gerente.</div>
                        </div>
                    </div>
            
                    <div class="form-group space-x-2 mt-4">
                        <button type="button" class="btn btn-success" (click)="inserir()" [disabled]="!formGerente.form.valid">
                            Salvar
                        </button>
                        <a class="btn btn-secondary" [routerLink]="['/admin/listar-gerentes']">
                            Voltar
                        </a>
                    </div>
                </form>
            
                
            </div>
        </div>
    </div>
</div>

<app-footer/>