:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #4B5652;
  }
  

.form {
    width: 100%;
    max-width: 1200px;
    border-radius: 4px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}