<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<div class="flex flex-col items-center justify-center">
  <div class="my-2 w-full">
    <div class="flex flex-row w-full">
      <div class="flex-1">
        <div class="flex flex-col">
          <input type="text" [(ngModel)]="nome"  placeholder="Nome" class="w-full mt-2 text-white py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
          <input type="text" [(ngModel)]="email" name="email" placeholder="E-mail" class="w-full mt-2 text-white py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
          <input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password" placeholder="Senha" class="w-full mt-2 text-white py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
          <i class="fa-solid fa-eye absolute cursor-pointer top-96 right-16" (click)="showPassword = !showPassword"></i>
          <input type="text" name="cpf" [(ngModel)]="cpf" placeholder="CPF" class="w-full mt-2 text-white py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
          <input type="text" name="telefone" [(ngModel)]="telefone" placeholder="Telefone" class="w-full mt-2 text-white py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
          <input type="number" name="salario" [(ngModel)]="salario" placeholder="Salário" class="w-full mt-2 text-white py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
          <input type="text" name="cep" [(ngModel)]="cep" placeholder="CEP" class="w-full mt-2 text-white py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
        </div>

        <div class="flex flex-row flex-wrap my-2">
          <input type="text" name="tipo" [(ngModel)]="tipo" placeholder="Tipo" class="text-white md:mr-2 py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
          <input type="text" name="logradouro" [(ngModel)]="logradouro" placeholder="Logradouro" class="text-white md:ml-2 py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
        </div>

        <div class="flex flex-row flex-wrap my-2">
          <input type="text" name="numero" [(ngModel)]="numero" placeholder="Número" class="text-white md:mr-2 py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
          <input type="text" name="complemento" placeholder="Complemento" class="text-white md:ml-2 py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
        </div>

        <div class="flex flex-row flex-wrap my-2">
          <input type="text" name="cidade" [(ngModel)]="cidade" placeholder="Cidade" class="text-white md:mr-2 py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
          <input type="text" name="estado" [(ngModel)]="estado" placeholder="Estado" class="text-white md:ml-2 py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
        </div>
      </div>
    </div>

    <Button
      type="button"
      variant="contained"
      [disabled]="isButtonDisabled()"
      class="w-full mt-2 bg-[#18C687] text-white py-2 px-4 rounded disabled:bg-[#90F58E] hover:bg-[#18FA87] focus:outline-none font-medium"
    >
      Cadastrar
    </Button>
  </div>
</div>