<gerente-navbar/>

<div class="flex flex-col flex-1 items-center">
  <div class="flex flex-row items-center my-24">
    <div class="h-50 w-50 m-0">
      <img src="../../../assets/img/verde_3.png" alt="">
    </div>

    <div class="flex flex-col flex-1 justify-center items-start">
      <div class="space-y-1">
        <div class="text-white text-3xl font-light">
          Bem vindo Gerente!
        </div>

        <div class="text-white text-3xl font-medium">
          Pedidos pendentes de aprovação:
        </div>
      </div>

      <div class="bg-slate-800 p-10 mb-10 mt-3 space-y-2 rounded-lg pr-20">
        <div *ngFor="let pedidoPendenteAprovacao of listaPedidosPendentesAprovacao">
          <div class="flex flex-row flex-1 space-x-6 items-center mb-4">
            <div class="flex flex-col p-4 w-[275px]">
              <div class="text-white text-lg text-start font-medium my-1">
                <button (click)="ordenarLista('nome')">
                  Nome:
                  <span class="ml-1 text-white">
                    <i class="fa-solid fa-arrow-up-a-z cursor-pointer text-white"></i>
                  </span>
                </button>
              </div>

              <div class="flex flex-col space-x-1 p-4 rounded-md w-[275px] h-[80px] justify-center items-center text-white font-medium bg-gray-500">
                <div class="text-2xl font-bold text-white text-center">
                  {{pedidoPendenteAprovacao.nome}}
                </div>
              </div>
            </div>

            <div class="flex flex-col p-4 w-[275px]">
              <div class="text-white text-lg text-start font-medium my-1">
                <button (click)="ordenarLista('cpf')">
                  CPF:
                  <span class="ml-1 text-white">
                    <i class="fa-solid fa-arrow-up-a-z cursor-pointer text-white"></i>
                  </span>
                </button>
              </div>

              <div class="flex flex-col space-x-1 p-4 rounded-md w-[275px] h-[80px] justify-center items-center text-white font-medium bg-gray-500">
                <div class="text-2xl font-bold text-white text-center" >
                  {{pedidoPendenteAprovacao.cpf}}
                </div>
              </div>
            </div>

            <div class="flex flex-col p-4 w-[275px]">
              <div class="text-white text-lg text-start font-medium my-1">
                <button (click)="ordenarLista('salario')">
                  Salário:
                  <span class="ml-1 text-white">
                    <i class="fa-solid fa-arrow-up-a-z cursor-pointer text-white"></i>
                  </span>
                </button>
              </div>

              <div class="flex flex-col space-x-1 p-4 rounded-md w-[275px] h-[80px] justify-center items-center text-white font-medium bg-gray-500">
                <div class="text-2xl font-bold text-white text-center">
                  {{pedidoPendenteAprovacao.salario}}
                </div>
              </div>
            </div>

            <div class="flex flex-row items-center mt-4 px-10 space-x-6">
              <button class="bg-[#18C687] hover:bg-[#18FA87] text-white p-3 mt-3 rounded-md">
                APROVAR
              </button>

              <button class="bg-red-600 hover:bg-red-500 text-white p-3 mt-3 rounded-md">
                RECUSAR
              </button>
            </div>
          </div>

          <div class="mx-6">
            <mat-divider class="bg-[#4B5652]" />
          </div>
        </div>
      </div>
    </div>

    <div class="h-50 w-50 m-0">
      <img src="../../../assets/img/verde_3.png" alt="">
    </div>
  </div>
</div>

<app-footer/>
