<gerente-navbar/>
<div class="flex flex-col flex-1 items-center">
    <div class="mt-20"></div>

    <div class="flex flex-row">
        <div class="h-50 w-50 m-0">
        <img src="../../../assets/img/verde_3.png" alt="">
        </div>
        <div class="flex flex-col flex-1 justify-center items-start ">
            <div class="space-y-1">
                <div class="text-white text-3xl font-light">
                    Bem vindo Gerente!
                </div>
                <div class="text-white text-3xl font-medium">
                    Pedidos pendentes de autorização:
                </div>
           </div>
            <div class="bg-slate-800 p-10 mb-10 mt-3 space-y-5 rounded-lg ">
                <div class="flex flex-row space-x-10 flex-1">
                    <div class="flex flex-col space-x-1 w-[200px] rounded-md p-4 justify-center items-center text-white font-medium bg-gray-500">
                    <label for="nome">Nome:</label>
                        <div class="text-white">
                            Guilherme Franco
                        </div>
                    </div>

                    <div class="flex flex-col rounded-md p-4 space-x-1 w-[200px] justify-center items-center text-white font-medium bg-gray-500">
                        <label for="cpf">CPF:</label>
                        <div class="text-white">
                            111.111.111-11
                        </div>
                    </div>

                    <div class="flex flex-col rounded-md p-4 space-x-1 w-[200px] justify-center items-center text-white font-medium bg-gray-500">
                        <label for="salario">Salário:</label>
                        <div class="text-white">
                            1100,00
                        </div>
                    </div>

                    <button class="danger bg-red-500 text-white p-3 h-100 mt-3 rounded-md hover:bg-red-950">
                        Rejeitar
                    </button>

                    <button class="danger bg-green-500 text-white p-3 h-100 mt-3 rounded-md hover:bg-green-950">
                        Aprovar
                    </button>
                    
                
                </div>

                <div class="flex flex-row flex-1 space-x-10">
                    <div class="flex flex-col space-x-1 p-4 rounded-md w-[200px] justify-center items-center text-white font-medium bg-gray-500">
                    <label for="nome">Nome:</label>
                        <div class="text-white">
                            Isabel Damaceno
                        </div>
                    </div>

                    <div class="flex flex-col rounded-md p-4 w-[200px] justify-center items-center text-white font-medium bg-gray-500">
                        <label for="cpf">CPF:</label>
                        <div class="text-white">
                            222.222.222-22
                        </div>
                    </div>

                    <div class="flex flex-col rounded-md p-4 space-x-1 w-[200px] justify-center items-center text-white font-medium bg-gray-500">
                        <label for="salario">Salário:</label>
                        <div class="text-white">
                            5000,00
                        </div>
                    </div>

                    <button class="danger bg-red-500 text-white p-3 h-100 mt-3 rounded-md hover:bg-red-950">
                        Rejeitar
                    </button>

                    <button class="danger bg-green-500 text-white p-3 h-100 mt-3 rounded-md hover:bg-green-950">
                        Aprovar
                    </button>

            

                </div>
            </div>
            
        </div>
            <div class="h-50 w-50 m-0">
                <img src="../../../assets/img/verde_3.png" alt="">
            </div>
            
    </div>
</div> 

<app-footer/>
