<cliente-navbar/>

<div class="flex flex-col flex-1 items-center">

    <div class="text-white mt-10">
        <h1>Nessa área você pode visualizar as movimentações da sua conta!</h1>
    </div>

    <div class="flex flex-row items-center">
    <div class="h-50 w-25 mb-40">
        <img src="../../../assets/img/verde_3.png" alt="">
      </div>

    <div class="flex flex-col bg-black w-fit p-8 flex-1 mb-10 rounded-lg space-y-2 self-center ">
        <div class="text-white flex flex-row justify-between ">
            <h2>Extrato</h2>
            
            <mat-form-field>
                <mat-label>Insira um período de data</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Início">
                  <input matEndDate placeholder="Final">
                </mat-date-range-input>
                
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
        </div>

        <mat-divider class="bg-[#4B5652]"/>

        <div class="flex flex-row space-x-32 text-white self-center w-[800px]">
            <div class="p-2">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>

            <div class="flex flex-col">
                <div>
                    <p>ElfBar INC</p>
                </div>
                <div class="-mt-4 text-gray-600 w-[250px] break-words">
                    <p>Pacote 100 Pods Sabor Baunilha</p>
                </div>
            </div>

            <div class="flex flex-col ">
                <div>
                    <p>01 Set. 23</p>
                </div>
                <div class="-mt-4 text-gray-600">
                    <p>Data</p>
                </div>
            </div>

            <div class="text-2xl text-center text-red-600">
                <p>- 550</p>
            </div>

        </div>

        <mat-divider class="bg-[#4B5652] -mt-1"/>

        
        <div class="flex flex-row space-x-32 text-white self-center w-[800px]">
            <div class="p-2">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>

            <div class="flex flex-col">
                <div>
                    <p>CIEE</p>
                </div>
                <div class="-mt-4 text-gray-600 break-words w-[250px]">
                    <p>Bolsa-Auxílio</p>
                </div>
            </div>

            <div class="flex flex-col ">
                <div>
                    <p>04 Set. 23</p>
                </div>
                <div class="-mt-4 text-gray-600">
                    <p>Data</p>
                </div>
            </div>

            <div class="text-2xl text-center text-green-600">
                <p>+ 900</p>
            </div>

        </div>

        <mat-divider class="bg-[#4B5652] -mt-1"/>

        
        <div class="flex flex-row space-x-32 text-white self-center w-[800px]">
            <div class="p-2">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>

            <div class="flex flex-col">
                <div>
                    <p>OnlyFans</p>
                </div>
                <div class="-mt-4 text-gray-600 text-break break-words w-[250px]">
                    <p class="break-words text-break">Assinatura Anual Bluezão Premium Deluxe Maior Fã (Pietro)</p>
                </div>
            </div>

            <div class="flex flex-col ">
                <div>
                    <p>05 Set. 23</p>
                </div>
                <div class="-mt-4 text-gray-600">
                    <p>Data</p>
                </div>
            </div>

            <div class="text-2xl text-center text-red-600">
                <p>- 100</p>
            </div>

        </div>

        <div class="flex flex-row space-x-2 mt-4 items-center self-end">
            <h3 class="text-white">
                Saldo:
            </h3>
            <h3 class="text-blue-300">
                250
            </h3>
        </div>
       

    </div>

    <div class="w-25 h-50 mb-40">
        <img src="../../../assets/img/verde_3.png" alt="">
      </div>

</div>

</div>

<app-footer/>