<cliente-navbar></cliente-navbar>

<div class="flex flex-col flex-1 items-center">
  <div class="text-white mt-10">
    <h1>Nessa área você pode visualizar as movimentações da sua conta!</h1>
  </div>

  <div class="flex flex-row items-center">
    <div class="h-50 w-25 mb-40">
      <img src="../../../assets/img/verde_3.png" alt="">
    </div>

    <div class="flex flex-col bg-black w-[50%] p-8 flex-1 mb-10 rounded-lg space-y-2 self-center">
      <div class="text-white flex flex-row justify-between">
        <h2>Extrato</h2>

        <div class="form-field-with-button flex flex-row items-center">
          <div class="mt-4">
            <mat-form-field>
              <mat-label>Insira um período de data</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Início" [readonly]="true">
                <input matEndDate placeholder="Final" [readonly]="true">
              </mat-date-range-input>

              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>

          <button mat-button class="ml-4 h-14 bg-[#18C687] hover:bg-[#18FA87] text-white px-4 py-2 rounded">Procurar</button>
        </div>
      </div>

      <mat-divider class="bg-[#4B5652]"/>

      <ng-container *ngFor="let extratoDia of extrato?.extrato">
        <div class="text-white mt-4 border-[1px] rounded-md p-4 border-gray-400">
          <h2>Data: {{ extratoDia.data | date : 'dd/MM/yyyy' }}</h2>
          <h3>Saldo: {{ extratoDia.saldo | currency:"BRL":true }}</h3>

          <ng-container *ngFor="let movimentacao of extratoDia.movimentacoes">
            <mat-divider class="bg-[#4B5652] mt-4"/>
            <div class="flex flex-row flex-1 items-center justify-between space-x-32 mt-6 text-white self-center w-[800px]">
              <div class="p-2" [ngClass]="getCorTextoTransacao(movimentacao.tipoTransacao!, movimentacao.contaOrigem!)">
                <i class="fa-solid fa-dollar-sign"></i>
              </div>

              <div class="flex flex-col">
                <div>
                  <p [ngClass]="getCorTextoTransacao(movimentacao.tipoTransacao!, movimentacao.contaOrigem!)">{{ movimentacao.tipoTransacao | uppercase }}</p>
                </div>
                <div *ngIf="movimentacao.tipoTransacao === 'transferência'" class="text-gray-600 w-[250px] break-words">
                  <p>Conta de Origem: {{ movimentacao.contaOrigem }}</p>
                  <p>Conta de Destino: {{ movimentacao.contaDestino }}</p>
                </div>
              </div>

              <div class="flex flex-col self-end">
                <div>
                  <p [ngClass]="getCorTextoTransacao(movimentacao.tipoTransacao!, movimentacao.contaOrigem!)">Data: {{ movimentacao.data | date : 'dd/MM/yyyy HH:mm' }}</p>
                </div>
                <div class="-mt-4 text-gray-600">
                  <p>Valor: {{ movimentacao.valor | currency:"BRL":true }}</p>
                </div>
              </div>
            </div>
          </ng-container>
          <mat-divider class="bg-[#4B5652] mt-4"/>
        </div>
      </ng-container>
    </div>

    <div class="h-50 w-25 mb-40">
      <img src="../../../assets/img/verde_3.png" alt="">
    </div>
  </div>
</div>

<app-footer></app-footer>
