<cliente-navbar/>

<div class="flex flex-col flex-1 items-center">

    <div class="text-white mt-10">
        <h1>Nessa área você pode visualizar as movimentações da sua conta!</h1>
    </div>

    <div class="flex flex-row items-center">
      <div class="h-50 w-25 mb-40">
          <img src="../../../assets/img/verde_3.png" alt="">
      </div>

      <div class="flex flex-col bg-black w-[100%] p-8 flex-1 mb-10 rounded-lg space-y-2 self-center">
        <div class="text-white flex flex-row justify-between">
              <h2>Extrato</h2>
            
              <div class="form-field-with-button">
                <mat-form-field>
                  <mat-label>Insira um período de data</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Início" [readonly]="true">
                    <input matEndDate placeholder="Final" [readonly]="true">
                  </mat-date-range-input>
              
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              
                <button mat-button class="ml-4 bg-[#18C687] hover:bg-[#18FA87] text-white px-4 py-2 rounded">Procurar</button>              
              </div>
              

          </div>

          <mat-divider class="bg-[#4B5652]"/>
          <ng-container *ngFor="let transacao of transacoes">
            <div class="flex flex-row space-x-32 text-white self-center w-[800px]">
                <div class="p-2">
                    <i class="fa-solid fa-dollar-sign"></i>
                </div>

                <div class="flex flex-col">
                    <div>
                        <p>{{ transacao.nome }}</p>
                    </div>
                    <div class="-mt-4 text-gray-600 w-[250px] break-words">
                        <p>{{ transacao.descricao }}</p>
                    </div>
                </div>

                <div class="flex flex-col ">
                    <div>
                        <p>{{ transacao.data }}</p>
                        <p>{{ transacao.horario }}</p>
                        
                    </div>
                    <div class="-mt-4 text-gray-600">
                        <p>Data</p>
                    </div>
                </div>

                <div class="text-2xl text-center" [ngClass]="{'text-red-600': transacao.valor < 0, 'text-blue-600': transacao.valor >= 0}">
                    <p>{{ transacao.valor >= 0 ? '+' : '' }}{{ transacao.valor }}</p>
                </div>
            </div>

            <mat-divider class="bg-[#4B5652] -mt-1"/>
          </ng-container>

          <div class="flex flex-row space-x-2 mt-4 items-center self-end">
            <h3 class="text-white">
              Saldo do Dia ({{ dataAtual | date:'dd/MM/yyyy' }}):
            </h3>
            <h3 class="text-blue-300">{{ saldoDoDia }}</h3>
          </div>
          <div class="flex flex-row space-x-2 mt-4 items-center self-end">
          <h3 class="text-white">
            Saldo Total:
          </h3>
          <h3 class="text-blue-300">{{ calcularSaldo() }}</h3>
        </div>
        <div class="text-white mt-4">
            <h2 class="text-xl font-semibold mb-2">Saldos por Dia</h2>
            <ul class="space-y-2">
              <ng-container *ngFor="let saldo of saldosPorDia">
                <li class="flex items-center justify-between p-2 bg-black bg-opacity-70 rounded-lg">
                  <div class="flex items-center">
                    <span
                      [class]="
                        'text-2xl ' +
                        (saldo.saldo < 0 ? 'text-red-600' : saldo.saldo === 0 ? 'text-gray-400' : 'text-blue-400')
                      "
                    >
                      {{ saldo.saldo < 0 ? '-' : saldo.saldo === 0 ? '±' : '+' }}
                    </span>
                    <span class="text-gray-400">ㅤ{{ saldo.data }}</span>
                  </div>
                  <div class="text-gray-400 font-semibold">
                    {{ saldo.saldo | currency:'BRL':'symbol':'1.2-2' }}
                  </div>
                </li>
              </ng-container>
            </ul>
          </div>
          </div>

        <div class="w-25 h-50 mb-40">
          <img src="../../../assets/img/verde_3.png" alt="">
        </div>

        
    </div>
</div>

<app-footer/>
