<admin-navbar/>
<div class="flex flex-col flex-1 items-center">
  <div class="flex flex-row items-center my-24">
    <div class="h-50 w-50 m-0">
      <img src="../../../assets/img/verde_3.png" alt="">
    </div>

    <div class="flex flex-col flex-1 justify-center items-start ">
      <div class="space-y-1">
        <div class="text-white text-3xl font-light">
          Painel do Administrador
        </div>

        <div class="text-white text-3xl font-medium">
          Lista de Gerentes:
        </div>
      </div>

      <div class="bg-slate-800 p-10 mb-10 mt-3 space-y-2 rounded-lg pr-20">
        <div *ngFor="let gerente of listaGerentes">
          <div class="flex flex-row flex-1 space-x-5">
            <div class="flex flex-col p-4 w-[275px]">
              <div class="text-white text-lg text-start font-medium my-1">
                Nome:
              </div>

              <div class="flex flex-col space-x-1 p-4 rounded-md w-[275px] h-[100px] justify-center items-center text-white font-medium bg-gray-500">
                <div class="text-2xl font-bold text-white text-center">
                  {{gerente.nome}}
                </div>
              </div>
            </div>

            <div class="flex flex-col p-4 w-[275px]">
              <div class="text-white text-lg text-start font-medium my-1">
                Quantidade de clientes:
              </div>

              <div class="flex flex-col space-x-1 p-4 rounded-md w-[275px] h-[100px] justify-center items-center text-white font-medium bg-gray-500">
                <div class="text-2xl font-bold text-white text-center">
                  {{gerente.quantidade_clientes}}
                </div>
              </div>
            </div>

            <div class="flex flex-col p-4 w-[275px]">
              <div class="text-white text-lg text-start font-medium my-1">
                Soma de saldos positivos:
              </div>

              <div class="flex flex-col space-x-1 p-4 rounded-md w-[275px] h-[100px] justify-center items-center text-white font-medium bg-gray-500">
                <div class="text-2xl text-[#18C687] font-bold text-center">
                  {{gerente.soma_saldos_positivos}}
                </div>
              </div>
            </div>

            <div class="flex flex-col p-4 w-[275px]">
              <div class="text-white text-lg text-start font-medium my-1">
                Soma de saldos negativos:
              </div>

              <div class="flex flex-col space-x-1 p-4 rounded-md w-[275px] h-[100px] justify-center items-center text-white font-medium bg-gray-500">
                <div class="text-2xl text-red-800 font-bold text-center">
                  {{gerente.soma_saldos_negativos}}
                </div>
              </div>
            </div>

          </div>

          <div class="ml-12">
            <mat-divider class="bg-[#4B5652]" />
          </div>
        </div>
      </div>
    </div>

    <div class="h-50 w-50 m-0">
      <img src="../../../assets/img/verde_3.png" alt="">
    </div>
  </div>
</div>

<app-footer/>
