<cliente-navbar/>

<div class="flex flex-col flex-1 items-center my-6">
  <cliente-saldo/>

  <div class="flex flex-row flex-wrap space-x-2 my-2">
    <div class="text-white text-3xl font-medium">
      GERENTE:
    </div>

    <div class="text-black text-3xl font-medium">
      {{ gerente }}
    </div>
  </div>

  <div class="flex flex-row items-center mb-16">
    <div class="h-50 w-50 m-0 self-start pt-16">
      <img src="../../../assets/img/verde_3.png" alt="">
    </div>

    <cliente-visualizar *ngIf="modo === 'visualizar'" [modo]="modo" (modoChange)="onModoChange($event)"/>

    <cliente-editar *ngIf="modo === 'editar'" class="w-full" [modo]="modo" (modoChange)="onModoChange($event)"/>

    <div class="h-50 w-50 m-0 self-start pt-16">
      <img src="../../../assets/img/verde_3.png" alt="">
    </div>
  </div>
</div>

<app-footer/>
