<div class="flex flex-1 flex-col justify-center items-center h-fit bg-gradient-to-r from-purple-500 via-pink-400 to-red-400">
    <div class="flex flex-col justify-center items-center p-2">
        
        <div class="mb-12">
            <img src="https://github.com/gianluca-magnabosco/bantads/blob/main/frontend/Tadsbank/icone.png" alt="icone-tadsbank" class="h-32 w-32" />
        </div>

        <div class="w-fit max-w-7xl p-8 rounded-lg shadow-lg flex bg-pink-600 mb-16 flex-wrap-reverse">
            <div class="self-center flex-[3]">
                <div class="bg-pink-500 p-8 rounded-lg shadow-lg font-sans">
                    <h2 class="text-white text-3xl mb-4 font-semibold font-heading">
                        Bem-vindo ao Tadsbank
                    </h2>
                    <p class="text-white text-lg mb-4 font-body">
                        Descubra um sistema de gestão especialmente projetado para profissionais da culinária.
                    </p>
                    <p class="text-white text-lg mb-4 font-body">
                        Deixe o trabalho de controlar seus gastos para o iBake e foque no que realmente importa:
                        <br />
                        <span class="font-bold m-0">Conquistar o paladar dos seus clientes!</span>
                    </p>
                    <p class="text-white text-lg mb-4 font-body">
                        Cadastre eletrodomésticos, ingredientes, suas receitas e seus produtos e tenha controle das suas despesas e de sua margem de lucro.
                    </p>
                    <p class="text-white text-lg font-body">
                        Gerencie estoque e registre vendas. Simplifique suas tarefas e aumente sua produtividade!
                    </p>
                </div>
            </div>

            <div class="p-3 hidden md:block"></div>

            <div class="self-center justify-center ml-2 flex flex-col min-w-fit my-8 flex-[2]">
    

            <div class="self-center flex mb-3 w-full">
                <div class="flex-1">
                    <Button 
                        class="w-full h-8 rounded-none text-white bg-blue-800" 
                        size="medium"
                        variant="contained" 
                       (click)="login = true"
                       
                    >
                        Login
                    </Button>
                </div>
                <div class="flex-1">
                    <Button 
                        class="w-full h-8 text-white rounded-none bg-blue-500" 
                        size="medium" 
                        variant="contained" 
                        (click)="login = false;"
                    >
                        Cadastro
                    </Button>
                </div>
            </div>

               <div *ngIf="login; else cadastro">
               <app-login-form></app-login-form> 
               </div>

               <ng-template #cadastro>
               <app-cadastro-form></app-cadastro-form> 
            </ng-template>
            </div>
    
    </div>
</div>