<cliente-navbar/>
<!-- MOSTRAR SALDO E NOME DO GERENTE NA PAGINA DE ALTERAR PERFIL -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<div class="flex flex-col flex-1 items-center my-6">
  <div class="flex flex-row flex-wrap space-x-2 mt-10">
    <div class="text-white text-3xl font-medium">
      SALDO DISPONÍVEL:
    </div>

    <div *ngIf="saldo > 0" class="text-green-600 text-3xl font-medium">
      {{ saldoFormatado }}
    </div>

    <div *ngIf="saldo === 0" class="text-blue-700 text-3xl font-medium">
      {{ saldoFormatado }}
    </div>

    <div *ngIf="saldo < 0" class="text-red-600 text-3xl font-medium">
      {{ saldoFormatado }}
    </div>
  </div>

  <div class="flex flex-row flex-wrap space-x-2 my-2">
    <div class="text-white text-3xl font-medium">
      GERENTE:
    </div>

    <div class="text-black text-3xl font-medium">
      {{ gerente }}
    </div>
  </div>

  <div class="flex flex-row items-center mb-16">
    <div class="h-50 w-50 m-0 self-start pt-16">
      <img src="../../../assets/img/verde_3.png" alt="">
    </div>

    <div class="form-group relative w-full">
      <div class="flex flex-col items-center justify-center">
        <div class="my-2 w-full">
          <div class="flex flex-row w-full">
            <div class="flex flex-1 flex-col items-center"> <!-- Centraliza verticalmente -->

              <input type="text" name="nome" placeholder="Nome" class="w-1/2 mt-2 text-black py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">

              <input type="text" name="email" placeholder="E-mail" class="w-1/2 mt-2 text-black py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">

              <input type="text" name="cpf" placeholder="CPF" class="w-1/2 mt-2 text-black py-2 px-4 rounded focus:outline-none" disabled>

              <input type="text" name="telefone" placeholder="Telefone (DDD)" class="w-1/2 mt-2 text-black py-2 px-4 rounded hover:bg-gray-200 focus:outline-none" maxlength="15">

              <input type="number" name="salario" placeholder="Salário" class="w-1/2 mt-2 text-black py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">

              <input type="text" name="cep" id="cep" placeholder="CEP" class="w-1/2 mt-2 text-black py-2 px-4 rounded hover:bg-gray-200 focus:outline-none" maxlength="8">

              <div class="flex flex-row flex-wrap my-1 mt-2">
                <input type="text" name="tipo" placeholder="Tipo" class="text-black md:mr-2 py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">

                <input type="text" name="logradouro" placeholder="Logradouro" id="logradouro" name="logradouro" class="text-black md:ml-2 py-2 px-4 rounded focus:outline-none">
              </div>

              <div class="flex flex-row flex-wrap my-1">
                <input type="text" name="numero" placeholder="Número" class="text-black md:mr-2 py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">

                <input type="text" name="complemento" placeholder="Complemento" class="text-black md:ml-2 py-2 px-4 rounded hover:bg-gray-200 focus:outline-none">
              </div>

              <div class="flex flex-row flex-wrap my-1">
                <input type="text" name="cidade" placeholder="Cidade" id="cidade" class="text-black md:mr-2 py-2 px-4 rounded focus:outline-none">

                <input type="text" name="uf" placeholder="Estado" id="uf" class="text-black md:ml-2 py-2 px-4 rounded focus:outline-none">
              </div>
            </div>
          </div>

          <div class="flex justify-center mt-2">
            <button class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
              ALTERAR PERFIL
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="h-50 w-50 m-0 self-start pt-16">
      <img src="../../../assets/img/verde_3.png" alt="">
    </div>
  </div>
</div>


<app-footer/>
