<div class="flex flex-1 flex-col justify-center items-center h-fit bg-black">
  <div class="flex flex-col justify-center items-center p-4">

    <div class="mb-12">
        <img src="assets/img/icone.png" alt="icone-tadsbank" class="h-32 w-90" />
    </div>

    <div class="w-fit max-w-7xl p-8 rounded-lg shadow-lg flex bg-[#4B5652] mb-16 flex-wrap-reverse">
      <div class="self-center flex-[3]">
        <div class="bg-black p-1 rounded-lg shadow-lg font-sans">
          <img src="assets/img/card_do_logo.png" alt="tadsbank" />
        </div>
      </div>

      <div class="p-3 hidden md:block"></div>

      <div class="self-center justify-center ml-2 flex flex-col min-w-fit my-8 flex-[2]">
        <div *ngIf="login">
          <div class="self-center flex mb-3 w-full">
            <div class="flex-1">
              <Button
                class="w-full h-8 rounded-l-md text-white font-medium bg-[#1BE37E]"
                size="medium"
                variant="contained"
                (click)="login = true"
              >
                Login
              </Button>
            </div>

            <div class="flex-1">
              <Button
                class="w-full h-8 text-white font-medium rounded-r-md bg-[#089E68]"
                size="medium"
                variant="contained"
                (click)="login = false"
              >
                Cadastro
              </Button>
            </div>
          </div>
        </div>

        <div *ngIf="!login">
          <div class="self-center flex mb-3 w-full">
            <div class="flex-1">
              <Button
                class="w-full h-8 rounded-l-md text-white font-medium bg-[#089E68]"
                size="medium"
                variant="contained"
                (click)="login = true"
              >
                Login
              </Button>
            </div>

            <div class="flex-1">
              <Button
                class="w-full h-8 text-white font-medium rounded-r-md bg-[#1BE37E]"
                size="medium"
                variant="contained"
                (click)="login = false"
              >
                Cadastro
              </Button>
            </div>
          </div>
        </div>

        <div *ngIf="login">
          <app-login-form></app-login-form>
          <div>
            <p class="text-white">
              Não possui uma conta ainda? <button (click)="login = false" class="text-white font-bold">Cadastre-se</button>
            </p>
          </div>
        </div>

        <div *ngIf="!login">
          <app-cadastro-form></app-cadastro-form>
          <div>
            <p class="text-white">
              Já possui uma conta? <button (click)="login = true" class="text-white font-bold">Fazer login</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
