<cliente-navbar/>

<div class="flex flex-col flex-1 items-center">
  <div class="flex flex-row flex-wrap space-x-2 mt-10">
    <div class="text-white text-3xl font-medium">
      SEU SALDO É:
    </div>

    <div class="text-red-600 text-3xl font-medium">
      POBRE
    </div>
  </div>

  <div class="flex flex-col flex-1 justify-center space-y-4 items-center py-6">
    <div>
      <a href="#" [routerLink]="['/cliente/alterar']">
      <button class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
        CONSULTAR OU ALTERAR PERFIL
      </button>
    </a>
    </div>

    <div>
      <a href="#" [routerLink]="['/cliente/deposito']">
      <button class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
        REALIZAR DEPÓSITO
      </button>
    </a>
    </div>

    <div>
      <a href="#" [routerLink]="['/cliente/saque']">
      <button class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
        REALIZAR SAQUE
      </button>
    </a>
    </div>

    <div>
      <a href="#" [routerLink]="['/cliente/transferencia']">
      <button class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
        REALIZAR TRANSFERÊNCIA
      </button>
    </a>
    </div>

    <div>
      <a href="#">
      <button class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
        CONSULTAR EXTRATO
      </button>
      </a>
    </div>
  </div>
</div>

<app-footer/>
