<cliente-navbar/>

<div class="flex flex-col flex-1 items-center my-16">
  <cliente-saldo class="mb-10"/>

  <div class="flex flex-row items-center mb-16">
    <div class="h-[12rem] w-[12rem] m-0">
      <img src="../../../assets/img/verde_contorno_menor.png" alt="">
    </div>

    <div class="flex flex-col flex-1 justify-center space-y-4 items-center py-6 w-full mx-24">
      <div>
        <button [routerLink]="['/cliente/meu-perfil']" class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
          CONSULTAR OU ALTERAR PERFIL
        </button>
      </div>

      <div>
        <button [routerLink]="['/cliente/depositar']" class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
          REALIZAR DEPÓSITO
        </button>
      </div>

      <div>
        <button [routerLink]="['/cliente/saque']" class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
          REALIZAR SAQUE
        </button>
      </div>

      <div>
        <button [routerLink]="['/cliente/transferencia']" class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
          REALIZAR TRANSFERÊNCIA
        </button>
      </div>

      <div>
        <button [routerLink]="['/cliente/extrato']" class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
          CONSULTAR EXTRATO
        </button>
      </div>
    </div>

    <div class="h-[12rem] w-[12rem] m-0">
      <img src="../../../assets/img/verde_contorno_maior.png" alt="">
    </div>
  </div>
</div>

<app-footer/>
