<div class="flex flex-col items-center py-10">
  <div class="bg-gray-800 text-white p-8 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4">Suas Informações</h2>
    <div class="mb-4">
      <p><span class="font-semibold">Nome:</span></p>
      <p><span class="font-semibold">E-mail:</span></p>
      <p><span class="font-semibold">CPF:</span></p>
      <p><span class="font-semibold">Telefone:</span></p>
      <p><span class="font-semibold">Salário:</span></p>
    </div>
  </div>

  <div class="bg-gray-800 text-white mt-6 p-8 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4">Seu Endereço</h2>
    <div>
      <p><span class="font-semibold">CEP:</span></p>
      <p><span class="font-semibold">Tipo:</span></p>
      <p><span class="font-semibold">Logradouro:</span></p>
      <p><span class="font-semibold">Número:</span></p>
      <p><span class="font-semibold">Complemento:</span></p>
      <p><span class="font-semibold">Cidade:</span></p>
      <p><span class="font-semibold">Estado:</span></p>
    </div>
  </div>

  <div class="flex justify-center mt-3">
    <button
      class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]"
      (click)="onModoChange('editar')"
    >
      EDITAR PERFIL
    </button>
  </div>
</div>
