<div class="flex flex-col items-center py-10">
  <div class="bg-gray-800 text-white p-8 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4">Suas Informações</h2>
    <div class="mb-4">
      <p><span class="font-semibold">Nome: {{cliente.nome}}</span></p>
      <p><span class="font-semibold">E-mail: {{cliente.email}}</span></p>
      <p><span class="font-semibold">CPF: {{cliente.cpf}}</span></p>
      <p><span class="font-semibold">Telefone: {{cliente.telefone}}</span></p>
      <p><span class="font-semibold">Salário: {{cliente.salario}}</span></p>
      <p><span class="font-semibold">Endereço: {{cliente.endereco!.tipo}} {{cliente.endereco!.logradouro}}, nº {{cliente.endereco!.numero}}, {{cliente.endereco!.complemento}} - {{cliente.endereco!.cidade}}, {{cliente.endereco!.estado}}</span></p>
    </div>
  </div>

  <div class="flex justify-center mt-3">
    <button
      class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]"
      (click)="onModoChange('editar')"
    >
      EDITAR PERFIL
    </button>
  </div>
</div>
