<div class="bg-white rounded-lg shadow-lg w-[25rem] mx-auto flex flex-col items-center">
  <div class="flex flex-col w-full pt-2 pb-2">
    <div class="flex flex-row justify-between px-2 items-center">
      <div class="text-xl font-normal self-center pb-1 pl-1">
        {{ titulo }}
      </div>

      <button
        class="text-gray-500 hover:text-gray-700 self-end"
        (click)="fecharPopup()"
      >
        <i class="fa fa-times text-black text-3xl"></i>
      </button>
    </div>

    <mat-divider />
  </div>

  <div class="p-8 flex flex-col items-center">
    <h1 class="text-2xl font-semibold mb-4 text-center">
      {{ mensagem }}
    </h1>
    <img [src]="gifSrc" alt="GIF" class="w-32 h-32 mb-4"/>
    <div *ngIf="data.mostrarCampoTexto" class="mb-4">
      <input
        type="text"
        #campoTexto
        placeholder="Digite aqui"
        (input)="handleCampoTextoInput($event)"
        class="p-2 border border-gray-400 rounded"
      >
    </div>
    <div class="flex justify-center space-x-4">
      <div *ngIf="data.mostrarBotaoVermelho" class="flex justify-center space-x-4">
       <button
       class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-500"
       (click)="onBotao1Click()"
       [disabled]="isBotao1Disabled()"
       >
      {{ botaoText1 }}
    </button>
    </div>

    <div *ngIf="data.mostrarBotaoVerde" class="flex justify-center space-x-4">
      <button
        class="px-4 py-2 bg-[#18C687] hover:bg-[#18FA87] disabled:bg-[#90F58E] text-white rounded"
        (click)="onBotao2Click()"
        [disabled]="isBotao2Disabled()"
      >
        {{ botaoText2 }}
      </button>
    </div>
    </div>
  </div>
</div>
