<admin-navbar/>


<div class="container">
    <div class="w-full relative min-h-[100vh] p-10 overflow-hidden flex justify-center items-center z-1">
        <div class="form">
            <div class="contact-info">
                <img src="../../../assets/img/card_do_homem.png" alt="">
            </div>
            <div class="contact-info-form p-4 text-white space-y-10 relative bg-black">

                <h1>Editar Gerente</h1>
                <form action="" #formGerente="ngForm" class="space-y-2 text-white">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input
                        name="nome"
                        type="text"
                        [(ngModel)]="nome"
                        placeholder="Nome"
                        class="form-control bg-transparent text-white before:bg-[#ffffff]"
                        (blur)="setNomeBeenBlurred()"
                        (input)="validateNome()"
                        id="nome"
                        required>
                        <div *ngIf="!isNomeValid" class="text-red-600 font-bold">
                          {{nomeErrorText}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF:</label>
                        <input
                        name="cpf"
                        type="text"
                        [(ngModel)]="cpf"
                        placeholder="CPF"
                        class="form-control bg-[#575551] text-black"
                        id="cpf"
                        readonly
                        disabled>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input
                        name="email"
                        type="text"
                        [(ngModel)]="email"
                        placeholder="E-mail"
                        class="form-control bg-transparent text-white"
                        (blur)="setEmailBeenBlurred()"
                        (input)="validateEmail()"
                        id="email"
                        required>
                        <div *ngIf="!isEmailValid" class="text-red-600 font-bold">
                          {{emailErrorText}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="telefone">Telefone:</label>
                        <input
                        name="telefone"
                        type="text"
                        [(ngModel)]="telefone"
                        placeholder="Telefone"
                        class="form-control bg-transparent text-white"
                        maxlength="15"
                        (blur)="setTelefoneBeenBlurred()"
                        (input)="validateAndFormatTelefone($event)"
                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                        id="telefone"
                        required>
                        <div *ngIf="!isTelefoneValid" class="text-red-600 font-bold">
                          {{telefoneErrorText}}
                        </div>
                    </div>

                    <div class="form-group space-x-2 mt-4">
                        <button type="button" class="btn btn-success" (click)="abrirPopup()" (click)="atualizar()" [disabled]="isButtonDisabled()">
                            Salvar
                        </button>
                        <a class="btn btn-secondary" [routerLink]="['/admin/listar-gerentes']">
                            Voltar
                        </a>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>

<app-footer/>
