<cliente-navbar/>

<div class="flex flex-col flex-1 items-center mb-20 mt-6">
  <div class="flex flex-row flex-wrap space-x-2 mt-16 mb-12">
    <div class="text-white text-3xl font-medium">
      SALDO DISPONÍVEL:
    </div>

    <div class="{{saldoColor}} text-3xl font-medium">
      {{ saldo }}
    </div>
  </div>


  <div class="flex flex-row items-center mb-16">
    <div class="h-[12rem] w-[12rem] m-0">
      <img src="../../../assets/img/verde_contorno_menor.png" alt="">
    </div>

    <div class="flex flex-col flex-1 justify-center space-y-4 items-center py-6 mx-16">
      <div class="flex flex-row flex-wrap space-x-2 mt-1">
        <div class="text-white text-3xl font-medium">
          Insira o valor do seu
        </div>
        <div class="text-black text-3xl font-bold">
          saque
        </div>
      </div>

      <div>
        <input
          type="text"
          placeholder="Valor do saque"
          class="p-[0.625rem] rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#18C687] focus:border-transparent px-4 py-2 text-xl min-w-[23rem]"
          [(ngModel)]="valorSaque"
          (focus)="setValorBeenFocused()"
          (input)="validateAndFormatValor($event)"
          (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
          maxlength="17"
        />
        <div *ngIf="!isValorValid" class="text-red-600 font-bold">
          {{valorErrorText}}
        </div>
      </div>

      <div>
        <button
          class="p-[0.625rem] rounded-md disabled:bg-[#90F58E] bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]"
          [disabled]="isButtonDisabled()"
        >
          REALIZAR SAQUE
        </button>
      </div>
    </div>

    <div class="h-[12rem] w-[12rem] m-0">
      <img src="../../../assets/img/verde_contorno_maior.png" alt="">
    </div>
  </div>
</div>

<app-footer/>
