<gerente-navbar/>
<div class="flex flex-col items-center py-10">
  <div class="bg-black text-white p-8 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4">Dados do Cliente</h2>
    <div class="mb-4">
      <p><span class="font-semibold">Nome:</span> </p>
      <p><span class="font-semibold">CPF:</span> </p>
      <p><span class="font-semibold">Cidade:</span> </p>
      <p><span class="font-semibold">Estado:</span> </p>
      <p><span class="font-semibold">Saldo:</span> </p>
    </div>
  </div>
  
  <div class="bg-black text-white mt-6 p-8 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4">Dados da Conta</h2>
    <div>
      <p><span class="font-semibold">Número da Conta:</span> </p>
      <p><span class="font-semibold">Tipo:</span> </p>
      <p><span class="font-semibold">Agência:</span> </p>
    </div>
  </div>
</div>
<app-footer/>