<cliente-navbar/>

<div class="flex flex-col flex-1 items-center">
  <div class="flex flex-row flex-wrap space-x-2 mt-10">
    <div class="text-white text-3xl font-medium">
      SEU SALDO É:
    </div>

    <div class="text-red-600 text-3xl font-medium">
      POBRE
    </div>
  </div>

  <div class="flex flex-row flex-wrap space-x-2 mt-10">
    <div class="text-white text-3xl font-medium">
      Quanto você deseja 
    </div>
    <div class="text-black text-3xl font-medium">
      <b>depositar?</b>
    </div>
  </div>

  <div class="flex flex-col flex-1 justify-center space-y-4 items-center py-6">
    <div>
      <input 
      type="number" 
      class="p-[0.625rem] rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#18C687] focus:border-transparent px-4 py-2 text-xl min-w-[23rem]" 
      placeholder="Digite a quantia em reais"
      />
    </div>
    <div>
      <button class="p-[0.625rem] rounded-md bg-[#18C687] hover:bg-[#18FA87] font-medium text-white text-xl min-w-[23rem]">
        REALIZAR DEPÓSITO
      </button>
    </div>
  </div>
</div>

<app-footer/>
