<gerente-navbar/>
<div class="p-4">
    <div class="mb-4">
      <label for="cpfInput" class="block text-white">CPF do Cliente:</label>
      <input type="text" id="cpfInput" class="w-full px-3 py-2 border rounded-md" (input)="updateCPF($event)" [value]="cpf" maxlength="11">
      <button class="mt-2 px-4 py-2 bg-[#18c687] hover:bg-[#0e744e] text-white rounded-md" (click)="buscarCliente()">Pesquisar</button>
    </div>

    <div *ngIf="clienteEncontrado" class="border-t mt-4 pt-4 text-white">
      <h2 class="text-lg font-semibold">Dados do Cliente</h2>
      <table class="w-full mt-2">
        <tr>
          <th class="text-left">Nome:</th>
          <td>{{ cliente.nome }}</td>
        </tr>
        <tr>
          <th class="text-left">CPF:</th>
          <td>{{ cliente.cpf }}</td>
        </tr>
        <tr>
          <th class="text-left">Cidade:</th>
          <td>{{ cliente.cidade }}</td>
        </tr>
        <tr>
          <th class="text-left">Estado:</th>
          <td>{{ cliente.estado }}</td>
        </tr>
      </table>

      <h2 class="text-lg font-semibold mt-4">Dados da Conta</h2>
      <table class="w-full mt-2">
        <tr>
          <th class="text-left">Número da Conta:</th>
          <td>{{ cliente.conta.numero }}</td>
        </tr>
        <tr>
            <th class="text-left">Tipo:</th>
            <td>{{ cliente.conta.tipo }}</td>
        </tr>
        <tr>
            <th class="text-left">Agência:</th>
            <td>{{ cliente.conta.agencia}}</td>
        </tr>
        <tr>
          <th class="text-left">Saldo:</th>
          <td>{{ cliente.conta.saldo }}</td>
        </tr>

      </table>
    </div>
  </div>
  <app-footer/>
